@import '../../Variables.scss';


@media (max-width: $breakpoint) {
    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title {
    color: white;
    font-size: 50px;
  }
  .body {
    font-size: 14px;
    margin-bottom: 2rem;
  }
  .btn {
    font-size: 30px;
    margin: 1rem;
    padding: 7px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid white;
    background-color: $card;
    transition: 200ms;
    .link {
      color: white;
      transition: 200ms;
    }
    .link:hover {
      color: lightblue;
    }
  }
  .btn:hover {
    border: 1px solid lightblue;
  }
}

@media (min-width: $breakpoint) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    color: white;
    font-size: 100px;
  }

  

  .btn {
    font-size: 30px;
    margin: 1rem;
    padding: 7px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid white;
    background-color: $card;
    transition: 200ms;
    .link {
      color: white;
      transition: 200ms;
    }
    .link:hover {
      color: lightblue;
    }
  }
  .btn:hover {
    border: 1px solid lightblue;
  }
}
