@import '../../../Variables.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: $openNav;
}

.menuBtn {
  background-color: $openNav;
  padding: 20px;
  border: none;
  fill: white;
  transition: 200ms;
}
.menuBtn:hover {
  fill: lightgrey;
  cursor: pointer;
}

.navItem {
  margin-left: 20px;
  margin-bottom: 20px;
  transition: 200ms;
  color: white;
  font-size: 30px;
  font-family: $mainFont;
  letter-spacing: 2px;
}
.navItem:hover {
  color: lightgrey;
}

.activeNavItem {
  @extend.navItem;
  margin-left: 30px;
  color: $siteBlue !important;
}