@import '../../Variables.scss';

@media (max-width: $breakpoint) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }

  .socialIcons {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .profilePic {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    border: 3px solid;
  }

  .title {
    font-weight: bold;
    margin-bottom: none !important;
    font-size: 40px;
    color: white;
  }

  .subtitle {
    font-style: italic;
    color: lightskyblue;
    letter-spacing: 1px;
  }

  .contact {
    letter-spacing: 2px;
    font-size: large;
    font-style: italic;
    color: white;
  }

  .introBody {
    font-family: $mainFont;
    font-size: 12pt !important;
    color: white;
    font-size: 10pt;
    margin-left: 5%;
    margin-right: 5%;
  }
}
