@import '../../Variables.scss';

// MOBILE
@media (max-width: $breakpoint) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }

  .row {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .socialIcons {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 2rem;
  }

  .profilePic {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 3px solid white;
  }

  .title {
    font-weight: bold;
    margin-bottom: none !important;
    font-size: 40px;
    color: white;
  }

  .subtitle {
    font-style: italic;
    color: lightskyblue;
    letter-spacing: 1px;
  }

  .contact {
    letter-spacing: 2px;
    font-size: large;
    font-style: italic;
    color: white;
  }

  .introBody {
    font-family: $mainFont;
    font-size: 12pt;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
  }
}

// DESKTOP
@media (min-width: $breakpoint) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
  }

  .profilePic {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    margin-right: 5rem;
    border: 2px solid white;
  }
  .title {
    display: flex;
    justify-content: right;
    font-weight: bold;
    font-size: 55px;
    color: white;
  }
  .subtitle {
    font-style: italic;
    color: lightsteelblue;
    font-size: 35px;
    letter-spacing: 2px;
  }
  .contact {
    letter-spacing: 2px;
    font-size: 25px;
    font-style: italic;
    color: white;
  }
  .body {
    .introBody {
      font-family: $mainFont;
      font-size: 14pt;
      color: white;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  .socialIcons {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 2rem;
  }
  .foot {
    display: flex;
    justify-content: center;
  }
}
